SBDX_save/
SBDX_shots/
SBDX_replays/
/crashes
/SBDX_mods/level/testing
/SBDX_mods/character/fractor
/SBDX_mods/character/spark
/SBDX_mods/character/_pkrMario
/SBDX_mods/character/_pkrSomari
/SBDX_mods/character/_pkrSonic
/SBDX_mods/level/YAPP
/SBDX_mods/character/coolsonic
/SBDX_mods/character/sonicupd
/SBDX_mods/character/marioupd
/SBDX_mods/character/mariodu0
/SBDX_mods/level/SaniTest
/SBDX_mods/object/crirat_hat
/SBDX_mods/object/crirat_trap
/SBDX_mods/object/winspy
/SBDX_skins/music/Sani_videoGame
game_errors.log
/SBDX_mods/character/ray
/SBDX_skins/world/sanicities
/SBDX_skins/player/Hoi
/SBDX_skins/player/KT
/SBDX_mods/character/chickenlittle
/SBDX_mods/character/crazybus
/SBDX_mods/character/musictails
/SBDX_skins/player/Mini Mario